.free-input{
    padding:10px 30px;
    width:600px;
    border-radius: 10px;
    border:1px solid gray;
    font-size: 40px;
    font-weight: 700;
}

.free-input:focus{
    border: none;
    outline: 2px solid rgb(15, 238, 79);
}