.single-option{
    border:1px solid rgb(203, 201, 201);
    display: flex;
    gap:10px;
    padding: 20px;
    width:500px;
    margin-top: 20px;
    border-radius: 10px;
}
.single-option input{
    width:40px;
}